## Mac
/**/.DS_Store

## Npm and Node
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

## RelevanceAI ReadMe Error Log
readme_notebook_error_log*.txt

## Notebook metatadata
*.ipynb_checkpoints
_*.ipynb


## RelevanceAI SDK Metadata
*creds*

*.log
*.logs