{% extends 'markdown/index.md.j2' %}

### Input cells
{% block input %}
{{ cell.source}}
{% endblock input %}

### Output cells
{%- block traceback_line -%}
```output
{{ line.rstrip() | strip_ansi }}
```
{%- endblock traceback_line -%}

{%- block stream -%}
```output
{{ output.text.rstrip() }}
```
{%- endblock stream -%}

{%- block data_text scoped -%}
```output
{{ output.data['text/plain'].rstrip() }}
```
{%- endblock data_text -%}



{% block markdowncell -%}

{{ super() }}

{% endblock markdowncell %}
